<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Grid" />

<f:section name="main">
    <div class="{xsCol1} {smCol1} {mdCol1} {lgCol1} {col41class} column first"{f:if(condition: '{equalizeColumns}', then: ' data-equalizer data-equalize-on="medium"')}>
        {data.tx_gridelements_view_column_101 -> f:format.raw()}
    </div>
    <div class="{xsCol2} {smCol2} {mdCol2} {lgCol2} {col42class} column"{f:if(condition: '{equalizeColumns}', then: ' data-equalizer data-equalize-on="medium"')}>
        {data.tx_gridelements_view_column_102 -> f:format.raw()}
    </div>
    <div class="{xsCol3} {smCol3} {mdCol3} {lgCol3} {col43class} column"{f:if(condition: '{equalizeColumns}', then: ' data-equalizer data-equalize-on="medium"')}>
        {data.tx_gridelements_view_column_103 -> f:format.raw()}
    </div>
    <div class="{xsCol4} {smCol4} {mdCol4} {lgCol4} {col44class} column last"{f:if(condition: '{equalizeColumns}', then: ' data-equalizer data-equalize-on="medium"')}>
        {data.tx_gridelements_view_column_104 -> f:format.raw()}
    </div>
</f:section>
</html>