<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Grid" />

<f:section name="Main">
    <f:if condition="{owlFallback}">
        <f:then>
            <div class="cell">
                <div class="owl-carousel owl-small-only owl-theme grid-x grid-padding-x" data-items="2" data-items-medium="4" data-slide-by="2" data-slide-by-medium="4">
                    <div class="{xsCol1} {smCol1} {mdCol1} {lgCol1} {col41class} cell first">
                        {data.tx_gridelements_view_column_101 -> f:format.raw()}
                    </div>
                    <div class="{xsCol2} {smCol2} {mdCol2} {lgCol2} {col42class} cell">
                        {data.tx_gridelements_view_column_102 -> f:format.raw()}
                    </div>
                    <div class="{xsCol3} {smCol3} {mdCol3} {lgCol3} {col43class} cell">
                        {data.tx_gridelements_view_column_103 -> f:format.raw()}
                    </div>
                    <div class="{xsCol4} {smCol4} {mdCol4} {lgCol4} {col44class} cell last">
                        {data.tx_gridelements_view_column_104 -> f:format.raw()}
                    </div>
                </div>
            </div>
        </f:then>
        <f:else>
            <div class="{xsCol1} {smCol1} {mdCol1} {lgCol1} {col41class} cell first{f:if(condition: '{equalizeColumns}', then: ' flex-container')}">
            {data.tx_gridelements_view_column_101 -> f:format.raw()}
            </div>
            <div class="{xsCol2} {smCol2} {mdCol2} {lgCol2} {col42class} cell{f:if(condition: '{equalizeColumns}', then: ' flex-container')}">
            {data.tx_gridelements_view_column_102 -> f:format.raw()}
            </div>
            <div class="{xsCol3} {smCol3} {mdCol3} {lgCol3} {col43class} cell{f:if(condition: '{equalizeColumns}', then: ' flex-container')}">
            {data.tx_gridelements_view_column_103 -> f:format.raw()}
            </div>
            <div class="{xsCol4} {smCol4} {mdCol4} {lgCol4} {col44class} cell last{f:if(condition: '{equalizeColumns}', then: ' flex-container')}">
            {data.tx_gridelements_view_column_104 -> f:format.raw()}
            </div>
        </f:else>
    </f:if>
</f:section>
</html>