<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:tirs="http://typo3.org/ns/TIRS/TirsFoundation/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Section" />

<f:section name="Main">

	<f:if condition="{data.parentgrid_uid}">
		<f:then>

			<div class="grid-x grid-padding-x">
				<div class="cell">
					{data.tx_gridelements_view_column_101 -> f:format.raw()}
				</div>
			</div>

		</f:then>
		<f:else>
			<f:if condition="{widthOfSection} != 'grid'">
				<f:then>

					<f:if condition="{widthOfSection} == 'full'">
						<f:then>
							<div class="grid-container full">
								<div class="grid-x no-space">
									<div class="cell">
										{data.tx_gridelements_view_column_101 -> f:format.raw()}
									</div>
								</div>
							</div>
						</f:then>

						<f:else>
							<div class="grid-container fluid">
								<div class="grid-x grid-padding-x">
									<div class="cell">
										{data.tx_gridelements_view_column_101 -> f:format.raw()}
									</div>
								</div>
							</div>
						</f:else>
					</f:if>

				</f:then>
				<f:else>

					<div class="grid-container">
						<div class="grid-x grid-padding-x">
							<div class="cell">
								{data.tx_gridelements_view_column_101 -> f:format.raw()}
							</div>
						</div>
					</div>

				</f:else>
			</f:if>
		</f:else>
	</f:if>

</f:section>
</html>