<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
    <div id="slick-{data.uid}" class="slick-content" data-arrows="{arrows}" data-autoplay="{autoplay}" data-adaptive-height="{adaptiveHeight}" data-responsive="{responsive}" data-slides-per-row="{slidesPerRow}" data-slides-to-show="{slidesToShow}" data-slides-to-scroll="{slidesToScroll}" data-speed="{speed}" data-variable-width="{variableWidth}">
        {data.tx_gridelements_view_column_101 -> f:format.raw()}
    </div>
</f:section>
</html>