<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Grid" />

<f:section name="Main">
    <div class="{xsCol1} {smCol1} {mdCol1} {lgCol1} {col31class} cell first{f:if(condition: '{equalizeColumns}', then: ' flex-container')}">
        {data.tx_gridelements_view_column_101 -> f:format.raw()}
    </div>
    <div class="{xsCol2} {smCol2} {mdCol2} {lgCol2} {col32class} cell {f:if(condition: '{equalizeColumns}', then: ' flex-container')}">
        {data.tx_gridelements_view_column_102 -> f:format.raw()}
    </div>
    <div class="{xsCol3} {smCol3} {mdCol3} {lgCol3} {col33class} cell last {f:if(condition: '{equalizeColumns}', then: ' flex-container')}">
        {data.tx_gridelements_view_column_103 -> f:format.raw()}
    </div>
</f:section>
</html>